@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}




/* Puedes agregar esto en tu archivo CSS global o en línea */
.card-header {
  background: linear-gradient(90deg, #040b4d 0%, #050020 100%);
  color: #fff !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  font-weight: bold;
  letter-spacing: 1px;
}

.card {
  border-radius: 1rem !important;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.795);
  overflow: hidden;
}

.card-body {
  background: rgba(22, 19, 19, 0.651) !important;
}


/* Cambia el color del título del mes */
.react-calendar__navigation button {
  color: #000 !important;
  font-weight: bold;
}

/* Cambia el color de los números de los días */
.react-calendar__tile {
  color: #000 !important;
}

/* Opcional: resalta el día actual con fondo y texto negro */
.react-calendar__tile--now {
  background: #ffe066 !important;
  color: #000 !important;
}






.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
